/* Уникальный стиль для секции магазина */
.shop-header {
    text-align: center; /* Центрируем заголовок и описание */
    padding: 150px;
    color: #2e2e2e; /* Темно-серый цвет текста */
}

.shop-header h2 {
    font-size: 2.5em; /* Размер заголовка */
    margin: 0; /* Убираем отступы */
}

.shop-header p {
    font-size: 1.2em; /* Размер текста описания */
    color: #5e5e5e; /* Светло-серый цвет текста описания */
}

/* Контейнер для продуктов */
.products {
    display: flex; /* Используем flex для выравнивания блоков */
    flex-wrap: wrap; /* Разрешаем перенос блоков на следующую строку */
    justify-content: center; /* Центрируем блоки по горизонтали */
    margin-bottom: 200px;
}
/* Карточка продукта */
.product-card {
    background-color: #fff; /* Белый фон */
    border: 1px solid #2e2e2e; /* Темно-серая граница */
    width: 500px; /* Ширина карточки */
    height: 500px; /* Высота карточки */
    display: flex; /* Используем flex для внутреннего выравнивания */
    flex-direction: column; /* Вертикальное размещение содержимого */
    justify-content: center; /* Центрируем содержимое по вертикали */
    align-items: center; /* Центрируем содержимое по горизонтали */
    margin: 20px; /* Отступ между карточками */
    text-align: center; /* Центрируем текст */
    color: #2e2e2e; /* Темно-серый цвет текста */
    transition: transform 0.3s; /* Плавный переход для эффектов */
}

/* Эффект при наведении */
.product-card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    border-color: #4d4d4d;
}

/* Название продукта */
.product-card h3 {
    font-size: 1.5em; /* Размер названия продукта */
    margin: 10px 0; /* Отступы сверху и снизу */
}

/* Описание продукта */
.product-card p {
    font-size: 1em; /* Размер описания продукта */
    margin: 5px 0; /* Отступы сверху и снизу */
}

/* Цена продукта */
.price {
    font-size: 1.2em; /* Размер текста цены */
    margin: 15px 0; /* Отступы сверху и снизу */
}

/* Кнопка добавления в корзину */
.add-to-cart {
    background-color: #2e2e2e; /* Темно-серый фон */
    color: #fff; /* Белый цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы для кнопки */
    cursor: pointer; /* Указываем курсор для клика */
    transition: background-color 0.3s; /* Плавный переход для фона */
}

.add-to-cart:hover {
    background-color: #444; /* Более темный фон при наведении */
}
