{% extends "base.html" %}

{% block links %}
<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        /* Увеличиваем карточки */
        height: 350px;
        /* Задайте нужную высоту для квадратной карточки */
    }

    .card-img-top {
        height: 200px;
        /* Устанавливаем высоту изображения */
        object-fit: cover;
        /* Обеспечивает заполнение области без искажения */
    }

    .card-hover:hover {
        transform: scale(1.05);
        /* Увеличение карточки при наведении */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        /* Тень при наведении */
    }

    .card-hover:active {
        transform: scale(0.95);
        /* Уменьшение карточки при нажатии */
    }
</style>
{% endblock %}

{% block navigation %}
<li class="breadcrumb-item active" aria-current="page">Мерч</li>
{% endblock %}

{% block content %}
<div class="container p-3 mt-4 md-4">

    <h1>Добро пожаловать в наш магазин!</h1>
    <p>Здесь представлены все товары</p>

    <div class="row mb-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Поиск...">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-center card-hover">
                <img src="static/images/anna.jpg" class="card-img-top" alt="Карточка 1">
                <div class="card-body">
                    <h5 class="card-title">Анна Загнозия</h5>
                    <p class="card-text">Плакат формата А4</p>
                    <p class="card-text">Цена: 200₽</p>
                </div>
            </div>
        </div>
        <!-- Добавьте дополнительные карточки по мере необходимости -->
         
    </div>
</div>


{% endblock %}