{% extends "base_auth.html" %}
{% block navigation %}
<li class="breadcrumb-item active" aria-current="page">Регистрация</li>
{% endblock %}
{% block content %}
<div class="container p-3 mt-4 md-4">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h3 class="text-center">Регистрация</h3>
            <form method="POST" action="">
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Введите имя пользователя" required>
                </div>
                <div class="form-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Введите email" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Введите пароль" required>
                </div>
                <div class="form-group">
                    <label for="password_confirm">Подтвердите пароль</label>
                    <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="Повторите пароль" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                <p class="text-center mt-3">
                    <a href="login">Уже есть аккаунт? Войти</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
